/* google font poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
/* style class body */
.body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  flex-direction: column;
  gap: 30px;
}
/* style header */
.header h1 {
  font-size: 2.15em;
  font-weight: 600;
  margin-bottom: 20px;
}
.header img {
  margin: auto;
  height: 10rem;
}
/* style header form */
.body form h4 {
  text-align: center;
  padding-bottom: 20px;
}
/* style input box */
.inputBox {
  position: relative;
  width: 250px;
  margin-top: 20px;
}
.inputBox input {
  width: 100%;
  padding: 10px;
  border: 2px solid #292929;
  border-radius: 5px;
  outline: none;
  color: black;
  font-size: 1em;
  transition: 0.5s;
}
.inputBox span {
  position: absolute;
  left: 0;
  padding: 10px;
  pointer-events: none;
  font-size: 1em;
  color: #1d2b3a;
  text-transform: uppercase;
  transition: 0.5s;
}
/* style animation input */
.inputBox input:valid ~ span,
.inputBox input:focus ~ span {
  color: #1d2b3a;
  transform: translateX(10px) translateY(-7px);
  font-size: 0.75em;
  padding: 0 10px;
  letter-spacing: 1px;
  background: white;
  border-left: 1px solid #00dfc4;
  border-right: 1px solid #00dfc4;
}
.inputBox:nth-child(3) input:valid ~ span,
.inputBox:nth-child(3) input:focus ~ span {
  background: #00dfc4;
  color: #1d2b3a;
  border-radius: 2px;
  letter-spacing: 1px;
}
.inputBox input:valid,
.inputBox input:focus {
  border: 2px solid #00dfc4;
}
/* style  class button */
.button {
  position: relative;
  width: 250px;
  margin-top: 20px;
}
.button button {
  width: 100%;
  padding: 8px;
  background: #00dfc4;
  border-radius: 5px;
  outline: none;
  color: white;
  font-size: 0.9em;
  transition: 0.5s;
}
.button button:hover {
  background: #00c4ad;
}