/* style navbar */
.header-web {
  margin-left: 18rem;
  -moz-box-shadow: 0 5px 5px rgba(187, 187, 187, 0.75);
  -webkit-box-shadow: 0 5px 5px rgba(182, 182, 182, 0.75);
  box-shadow: 0 5px 5px rgba(182, 182, 182, 0.75);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  overflow: hidden;
  width: 79%;
  padding: 0 0 0 2rem;
  background: #fff;
}
.clock {
  padding-left: 2rem;
}
/* style class profile */
.profile {
  background: #00dfc4;
  border-bottom-left-radius: 5rem;
  padding: 5px 1.5rem 5px 3rem;
  cursor: pointer;
}
.profile img {
  width: 50px;
  height: 50px;
  border-radius: 50px;
}
