@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
/* style sidebar */
.sidebar {
  width: 18rem;
  background: #1d2b3a;
  color: #fff;
  min-height: 100vh;
  position: fixed;
  display: flex;
  justify-items: center;
  align-items: center;
  flex-direction: column;
}
.sidebar h5 {
  text-align: center;
  padding: 30px 0;
}
/* style sidebar ul */
.sidebar ul {
  list-style: none;
  padding: 0;
}
.sidebar ul a {
  text-decoration: none;
  color: #fff;
  font-size: 1.09em;
  cursor: pointer;
  transition: all 0.2s;
}
.sidebar ul a li {
  transition: all 0.2s;
  padding: 10px 30px;
}
/* style hover ul a li */
.sidebar ul a li:hover {
  background: #00dfc4;
  color: #1d2b3a;
}
.sidebar ul a li i {
  text-align: center;
  width: 30px;
}
/* style button */
.sidebar button {
  position: fixed;
  bottom: 0;
  padding: 15px 108.2px;
  transition: all 0.5s;
  border: none;
  background: #1d2b3a;
  color: #fff;
}
.sidebar button:hover {
  background: #00dfc4;
  color: #1d2b3a;
}
