@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.home
{
  width: 100%;
  height: 100vh;
  background: #292929;
  padding: 80px 80px 80px 100px;
}
.home .tab{
  text-align: center;
}
.home .tab h1 {
  font-weight: 600;
  line-height: 1.5em;
  color: #00c4ad;
  text-transform: uppercase;
}
.home .tab p{
  font-size: 1.25em;
  font-weight: 500;
  color: #fff;
}
